.contenedor,
.texto {
    width: 150px;
    box-shadow: 1px 1px 10px 1px gainsboro;
    display: flex;
    flex-direction: column;
}

img {
    height: 125px;
    width: 150px;
}

.texto {
    font-family: 'Krub', sans-serif;
    font-size: 10px;
}

.texto p {
    margin-left: 15px;
    margin-top: -3px;
}

.texto h4{
    margin-top: 15px;
    margin-left: 15px;
}