:root {
    --gris: #F3EFE0;
    --oscuro: #222222;
    --blanco: #FFF;
    --negro: #000;

}

.mensaje{
    background-color: var(--gris);
    width: 500px;
    height: 150px;
    border-radius: 5px;
    font-family: 'Krub', sans-serif;
    
}

.titulo{
    color: var(--blanco);
    background-color: var(--oscuro);
    border-radius: 5px 5px 0px 0px;
}

/* p,img{
    display: inline-block;
} */

.titulo p{
    padding: 3px;
    margin: 10px;
    font-weight: 600;
    
}

.titulo img{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    float:  right;
    padding: 10px;
}

.texto p{
    margin: 10px;
    padding: 3px;
}