.contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px gainsboro;
}

.servicios {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: black;

}

.servicios span{
    color: black;
}

.servicios2 {
    margin-left: 15px;
    display: grid;
    grid-template-columns: repeat(4, 70px);
    justify-content: space-between;
    color: black;
}

.docs,
.videos,
.love,
.expo{
    display: flex;
    justify-content: space-evenly;
}

svg {
    width: 15px;
    height: 15px;
}

a {
    display: flex;
    text-decoration: none;
}


/**Colores de los iconos **/
.docs svg{
    color: #93BFCF;
}

.videos svg{
    color: #C9F4AA;
}

.expo svg{
    color: #FCE22A;
}

.love  svg{
    color: #D61355;
}

.backers svg{
    color: #F94A29;
}

/***Parte derecha*/
.final {
    width: 215px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
}

.sponsor{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D23369;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    color: white;
    font-size: 15px;


}

.download{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C9F4AA;
    color: white;
    height: 30px;
    width: 100px;
    font-size: 10px;
    border-radius: 5px;
    font-size: 15px;
}
.sponsor svg{
    color: white;
}